.portfolio-page {
  color: white;
}

.filter-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.filter-button:hover {
  background-color: white;
  color: black;
}

.filter-button.active {
  background-color: white;
  color: black;
  font-weight: 700;
}